In [245]:
import pandas as pd

In [246]:
data = pd.read_csv(r'C:\Users\Bros Jay Designs\Desktop\JUSTICE FILES\Datasets-main\DS\diabetesdataset.csv')
data

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148,72,35,0,33.6,0.627,50,1
1,1,1,85,66,29,0,26.6,0.351,31,0
2,2,8,183,64,0,0,23.3,0.672,32,1
3,3,1,89,66,23,94,28.1,0.167,21,0
4,4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...
763,763,10,101,76,48,180,32.9,0.171,63,0
764,764,2,122,70,27,0,36.8,0.340,27,0
765,765,5,121,72,23,112,26.2,0.245,30,0
766,766,1,126,60,0,0,30.1,0.349,47,1
767,767,1,93,70,31,0,30.4,0.315,23,0

In [247]:
#there is no null values in the data
data.isnull().any().sum()

0

In [248]:
#checking for duplicates in the data
data.duplicated().any().sum()

0

In [249]:
#there is a column titled 'Unnamed: 0' and its not useful, i want to drop it
data.columns

Index(['Unnamed: 0', 'Pregnancies', 'Glucose', 'BloodPressure',
       'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age',
       'Outcome'],
      dtype='object')

In [250]:
data = data.drop('Unnamed: 0',axis = 1)
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [251]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [252]:
data[data==0].count()

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

In [253]:
import numpy as np
data_copy = data.copy()
data_copy[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI']]=data_copy[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI']].replace(0,np.nan)
data_copy

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [254]:
data_copy.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [255]:
#replacing zero in each column with the mean value of each
data['Glucose'] = data['Glucose'].replace(0,data['Glucose'].mean())
data['BloodPressure'] = data['BloodPressure'].replace(0,data['BloodPressure'].mean())
data['SkinThickness'] = data['SkinThickness'].replace(0,data['SkinThickness'].mean())
data['Insulin'] = data['Insulin'].replace(0,data['Insulin'].mean())
data['BMI'] = data['BMI'].replace(0,np.mean(data['BMI'].mean()))
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.000000,79.799479,33.6,0.627,50,1
1,1,85.0,66.0,29.000000,79.799479,26.6,0.351,31,0
2,8,183.0,64.0,20.536458,79.799479,23.3,0.672,32,1
3,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.000000,180.000000,32.9,0.171,63,0
764,2,122.0,70.0,27.000000,79.799479,36.8,0.340,27,0
765,5,121.0,72.0,23.000000,112.000000,26.2,0.245,30,0
766,1,126.0,60.0,20.536458,79.799479,30.1,0.349,47,1
767,1,93.0,70.0,31.000000,79.799479,30.4,0.315,23,0

In [256]:
X = data.drop('Outcome',axis =1)
y = data.Outcome

In [257]:
#spliting the data to test and train set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test =  train_test_split(X,y,test_size= 0.2,random_state = 42)

In [258]:
#the numbers in each column are far too apart, i ned to use a standard scalar
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.pipeline import Pipeline

In [259]:
pipeline_lr = Pipeline([('scalar1',StandardScaler()),('lr_classifier',LogisticRegression())])
pipeline_kn = Pipeline([('scalar2',StandardScaler()),('lr_classifier',KNeighborsClassifier(n_neighbors=3))])
pipeline_svc = Pipeline([('scalar3',StandardScaler()),('lr_classifier',SVC())])
pipeline_dc = Pipeline([('lr_classifier',DecisionTreeClassifier())])
pipeline_rf = Pipeline([('lr_classifier',RandomForestClassifier(max_depth = 3))])
pipeline_gbc = Pipeline([('lr_classifier',GradientBoostingClassifier())])

In [260]:
pipelines = [pipeline_lr,pipeline_kn,pipeline_svc,pipeline_dc,pipeline_rf,pipeline_gbc]
pipelines

[Pipeline(steps=[('scalar1', StandardScaler()),
                 ('lr_classifier', LogisticRegression())]),
 Pipeline(steps=[('scalar2', StandardScaler()),
                 ('lr_classifier', KNeighborsClassifier(n_neighbors=3))]),
 Pipeline(steps=[('scalar3', StandardScaler()), ('lr_classifier', SVC())]),
 Pipeline(steps=[('lr_classifier', DecisionTreeClassifier())]),
 Pipeline(steps=[('lr_classifier', RandomForestClassifier(max_depth=3))]),
 Pipeline(steps=[('lr_classifier', GradientBoostingClassifier())])]

In [261]:
for pipe in pipelines:
    pipe.fit(X_train,y_train)

In [262]:
pipe_dict = {0:'LR',1:'KNN',2:'SVC',3:'DT',4:'RF',5:'GBC'}
pipe_dict

{0: 'LR', 1: 'KNN', 2: 'SVC', 3: 'DT', 4: 'RF', 5: 'GBC'}

In [263]:
for i,model in enumerate(pipelines):
    print('{} Test Acurracy: {}'.format(pipe_dict[i],model.score(X_test,y_test)))

LR Test Acurracy: 0.7662337662337663
KNN Test Acurracy: 0.7402597402597403
SVC Test Acurracy: 0.7337662337662337
DT Test Acurracy: 0.7467532467532467
RF Test Acurracy: 0.7792207792207793
GBC Test Acurracy: 0.7597402597402597

In [264]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X,y)

RandomForestClassifier()

In [265]:
new_data = pd.DataFrame({
    'Pregnacies':6,
    'Glocuse':140.0,
    'BloodPressure':72.0,
    'SkinPressure':35.0,
    'Insulin':79.4354,
    'BMI':33.6,
    'DiabetesPedigreeFunction':0.627,
    'Age':50
    
},index=[0])

In [266]:
p = rf.predict(new_data)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Glocuse
- Pregnacies
- SkinPressure
Feature names seen at fit time, yet now missing:
- Glucose
- Pregnancies
- SkinThickness

  warnings.warn(message, FutureWarning)

In [267]:
if p[0] == 0:
    print('non-diabetic')
else:
    print('diabetic')

diabetic

In [268]:
import joblib

In [269]:
joblib.dump(rf,'diabetes prediction')

['diabetes prediction']

In [270]:
from  tkinter import *

In [273]:
master = Tk()
label = Label(master, text = "Diabetes Prediction",bg = 'red',fg='white').grid(row = 0, columnspan = 3)


Label(master,text='Pregnancies ').grid(row=1)
Label(master,text='Glucose').grid(row=2)
Label(master,text='BloodPressure').grid(row=3)
Label(master,text='SkinThickness ').grid(row=4)
Label(master,text='Insulin ').grid(row=5)
Label(master,text='BMI ').grid(row=6)
Label(master,text='DiabetesPedigreeFunction ').grid(row=7)
Label(master,text='Age').grid(row=8)










e1 = Entry(master)    
e1.grid(row =1,column = 1)
e2 = Entry(master)    
e2.grid(row =2,column = 1)
e3 = Entry(master)    
e3.grid(row =3,column = 1)
e4 = Entry(master)    
e4.grid(row =4,column = 1)
e5 = Entry(master)    
e5.grid(row =5,column = 1)
e6 = Entry(master)    
e6.grid(row =6,column = 1)
e7 = Entry(master)    
e7.grid(row =7,column = 1)
e8 = Entry(master)    
e8.grid(row =8,column = 1) 



def entry():
    p1 = float(e1.get())
    p2 = float(e2.get())
    p3 = float(e3.get())
    p4 = float(e4.get())
    p5 = float(e5.get())
    p6 = float(e6.get())
    p7 = float(e7.get())
    p8 = float(e8.get())
  
    

    model = joblib.load('diabetes prediction')
    result = model.predict([[p1,p2,p3,p4,p5,p6,p7,p8]])
    if result[0] == 0 or result == '0':
        state = 'Non-diabetic'
    else:
        state = 'Diabetic'
    Label(master, text = state).grid()
    

Button(master, text='predict',command = entry).grid()

mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "C:\Users\Bros Jay Designs\AppData\Local\Temp\ipykernel_10924\1030926344.py", line 43, in entry
    p1 = float(e1.get())
ValueError: could not convert string to float: ''
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
C:\Users\Bros Jay Designs\AppData\Local\Temp\ipykernel_10924\1030926344.py:56: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if result[0] == 0 or result == '0':
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
C:\Users\Bros Jay Designs\AppData\Local\Temp\ipykernel_10924\1030926344.py:56: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if result[0] == 0 or result == '0':
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(